[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "~=2.31.0"
rich = "~=13.5.2"
pytz = "*"
piexif = "~=1.1.3"

[dev-packages]
black = "*"

[requires]
python_version = "3.11"
